:root {
    /* Define your CSS variables here */
    --inputBG-color: rgba(57, 63, 84, 0.8);
    --input-text-inactive: #7881a1;
    --input-text-active: #333;
    --input-border-active: #1e407c;
    --psu-dark-blue: #002d62; 
    --white: #fff;
}


.QR-header {
/*    background-color: #ffffff;*/
    text-align: center;
    padding: 20px;
    background-image: url("../images/header_background.png");
    
    /*color: var(--psu-dark-blue);*/
}

.navbar-collapse {
    background-color: var(--psu-dark-blue);
    font-family: Verdana !important;
}
li {
    padding: 15px 15px 0px 15px;
}

.nav a {
    color: var(--white);
}

    .nav a:hover {
        color: var(--psu-dark-blue);
/*        background-color: var(--psu-dark-blue);*/
    }

.LoginOptions1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
}
#lbNewAtt1.btn.btn-danger.button-xs {
    font-size: 18px;
}

.LoginOptions2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
}

#lbNewAdm1.btn.btn-info.button-xs {
    font-size: 18px;
/*    background-color: var(--psu-dark-blue);
    color: var(--white);*/
}
#txtPassword {
    font-size: 14px;
    border: 1px solid silver;
    border-radius: 3px;
    height: 32px;
    width: 200px;
}